<a href="https://colab.research.google.com/github/jungseungoh/Inflearn_Python/blob/main/2_code_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. K번째 약수 풀이

자연수 N과 K가 주어졌을 때, N의 약수들 중 K번째로 작은 수를 출력.

(N의 약수의 개수가 K보다 적어서 K번째 약수 존재안하면 -1 출력)

In [ ]:
n, k = map(int, input().split())
cnt = 0

for i in range(1, n+1):
    if n%i==0:
        cnt+=1
    if cnt==k:
        print(i)
        break
else:
    print(-1)

# for ~ else 구문
# break를 쓰면 for문이 그대로 종료

6 3
3

### 2. K번째 수

N개의 숫자로 이루어진 숫자열이 주어지면 s번째부터 e번째까지의 수를 오름차순 정렬했을 때 k번째로 나타나는 숫자 출력.

In [ ]:
T = int(input())
for t in range(T):
    N, s, e, k = map(int, input().split())
    a = list(map(int, input().split()))
    a = a[s-1:e]  #인덱스값
    a.sort()  #오름차순
    print("#%d %d" %(t+1, a[k-1]))

2
6 2 5 3
5 2 7 3 8 9
#1 7
15 3 10 3
4 15 8 16 6 6 17 3 10 11 18 7 14 7 15
#2 6

### 3. K번째 큰 수

1부터 100사이의 자연수가 적힌 N장의 카드  
3장을 뽑아 각 카드에 적힌 수를 합한 값 기록  
3장을 뽑을 수 있는 모든 경우을 기록.
기록한 값 중 K번째로 큰 수 출력.

In [ ]:
N, K = map(int, input().split())
a = list(map(int, input().split()))
res = set()  # 중복제거
for i in range(n):
    for j in range(i+1, n):
        for m in range(j+1, n):
            res.add(a[i]+a[j]+a[m])  #set에는 sort가 없다
res = list(res)
res.sort(reverse=True)  #내림차순
print(res[k-1])

10 3
13 15 34 23 45 65 33 11 26 42
125

### [선수지식] 최솟값 구하기

In [ ]:
arr = [5,3,7,9,2,5,2,6]
# 방식1
arrMin = float('inf')
for i in range(len(arr)):
    if arr[i] < arrMin:   # 같다고 하지 않았으니깐 4번째 인덱스 값인 2가 출력!
        arrMin = arr[i]
print(arrMin)

# 방식2
arr = [5,3,7,9,2,5,2,6]
arrMin = arr[0]
for i in range(1, len(arr)):
    if arr[i] < arrMin:   # 같다고 하지 않았으니깐 4번째 인덱스 값인 2가 출력!
        arrMin = arr[i]
print(arrMin)

# 방식3
arr = [5,3,7,9,2,5,2,6]
arrMin = float('inf')
for x in arr:
    if x < arrMin:   # 같다고 하지 않았으니깐 4번째 인덱스 값인 2가 출력!
        arrMin = x
print(arrMin)

2

### 4. 대표값

N명의 학생들의 평균 수학점수(소수 첫째자리 반올림)를 구하고 N명의 학생 중 평균에 가장 가까운 학생은 몇번째 학생인지 출력.
- 평균과 가까운 점수가 여러 개일 경우 점수가 높은 학생의 번호로 한다.
- 높은 점수를 가진 학생이 여러 명일 경우 빠른 학생의 번호로 한다.

In [ ]:
n = int(input())
a = list(map(int, input().split()))
ave = round(sum(a)/n)
min = 2147000000
for idx, x in enumerate(a):
    tmp = abs(x-ave)   # 평균값과의 거리
    if tmp < min:
        min = tmp
        score = x
        res = idx+1
    elif tmp == min:
        if x > score:   # 같다고 두면 제일 느린 번호의 학생이 담긴다
            score = x
            res = idx+1
print(ave, res)

10
45 73 66 87 92 67 75 79 75 80
74 7

In [ ]:
n=int(input())
a=list(map(int, input().split()))
avg=round(sum(a)/n+0.5)
min=2147000000
for idx, x in enumerate(a):
    tmp = abs(x-avg)
    if tmp < min:
        min = tmp
        score = x
        res = idx+1
    elif tmp==min:
        if x > score:
            score = x
            res = idx+1
print(avg,res)

10
45 73 66 87 92 67 75 79 75 80
74 7

In [ ]:
# round함수는 round_half_even 방식을 택한다.
a=4.5
print(round(a))

4

### 5. 정다면체

정 N면체와 정 M면체의 두개의 주사위를 던져서 나올 수 있는 눈의 합 중 가장 확률이 높은 숫자 출력.

(정답이 여러 개일 경우 오름차순 출력)

In [ ]:
n, m = map(int, input().split())
cnt = [0] * (n+m+3)
max = 0
for i in range(1, n+1):
    for j in range(1, m+1):
        cnt[i+j]+=1
for i in range(n+m+1):
    if cnt[i]>max:
        max=cnt[i]
for i in range(n+m+1):
    if cnt[i]==max:
        print(i, end=' ')

4 6
5 6 7

### 6. 자릿수의 합

자연수 N 입력되면 각 자연수의 자릿수 합을 구하고 합이 최대인 자연수를 출력.

자릿수의 합을 구하는 함수를 def digit_sum(x)으로 작성해서 하기!
- 자릿수 합이 같을 경우 : 입력순으로 먼저인 숫자 출력

In [ ]:
n = int(input())
a = list(map(int, input().split()))

# 방식1
def digit_sum(x):
    sum=0   # 변수 선언
    while x>0:
        sum+=x%10
        x=x//10
    return sum

# 방식2
def digit_sum(x):
    sum=0
    for i in str(x):  # string으로 쪼개기
        sum += int(i)   # int형으로 변환해서 자릿수 합하기
    return sum

max = -2147000000
for x in a:
    tot=digit_sum(x)
    if tot>max:
        max=tot
        res=x
print(res)

3
125 1523 97
97

### 7. 소수의 개수 (에라토스테네스 체)

자연수 N 입력되면 1 ~ N까지 소수의 개수 출력
(제한시간 1초)

1은 소수의 대상이 아니니 i는 2부터 N까지 진행

In [ ]:
n = int(input())
ch = [0]*(n+3)  # 에라토스테네스의 체를 위한 리스트
cnt = 0  # 소수의 개수를 세기 위한 변수

for i in range(2, n+1):
    if ch[i] == 0:
        cnt += 1  # 소수 발견 시 개수를 증가
        for j in range(i, n+1, i):  # i부터 n+1까지 돌면서 i 스텝마다
            ch[j] = 1  # 소수가 아닌 숫자를 체크

print(cnt)

20
8

### 8. 뒤집은 소수

N개 자연수 입력되면 뒤집은 후 그 뒤집은 수가 소수이면 그 수 출력하기  
- 뒤집는 함수 : def reverse(x)  
- 소수 확인하는 함수 : def isPrime(x)  

(단, 910 뒤집으면 19로 숫자화 해야함. 첫자리 0은 무시)

In [ ]:
def reverse(x):
    res = 0
    while x > 0:
        t = x % 10          # x의 마지막 자릿수를 구함
        res = res * 10 + t  # 자릿수를 추가하여 숫자 뒤집음
        x = x // 10         # x의 마지막 자릿수 제거
    return res

def isPrime(x):
    if x == 1:
        return False

    for i in range(2, x//2+1): # 2부터 x의 절반까지의 숫자로 나누어 나머지가 0인지 확인
        if x % i == 0:
            return False  # 소수 X
    else:
        return True  # 소수 O

n = int(input())
a = list(map(int, input().split()))

for x in a:
    tmp = reverse(x)
    if isPrime(tmp):
        print(tmp, end=' ')

5
32 55 62 3700 250
23 73

### 9. 주사위 게임

1부터 6까지의 눈을 가진 3개의 주사위를 던져서 다음과 같은 규칙에 따라 상금을 받는 게임이 있다.  
- 같은 눈이 3개가 나오는 경우 10,000원+(같은 눈)*1,000원 상금 수여
- 같은 눈이 2개만 나오는 경우 1,000원+(같은 눈)*100원 상금 수여
- 모두 다른 눈이 나오는 경우 (그 중 가장 큰 눈)*100원 상금 수여  

N명이 주사위 게임을 참여했을 때, 가장 많은 상금을 받는 사람의 상금을 출력하시오.

In [ ]:
n = int(input())
res = 0

for i in range(n):
    tmp = input().split()    # 주사위의 눈을 문자열로 입력받아 리스트로 변환
    tmp.sort()               # 오름차순 정렬
    a, b, c = map(int, tmp)  # 정렬된 주사위 눈을 a, b, c로 저장

    # 같은 눈이 3개인 경우
    if a == b and b == c:
        money = 10000 + (a * 1000)

    # 같은 눈이 2개인 경우
    elif a == b or a == c:
        money = 1000 + (a * 100)
    elif b == c:
        money = 1000 + (b * 100)

    # 모두 다른 눈인 경우
    else:
        money = c * 100

    if money > res:
        res = money

print(res)

3
3 3 6
2 2 2
6 2 5
12000

### 10. 점수 계산

1번 문제 맞는 경우 : 1점
앞의 문제 틀리다가 답이 맞는 문제 : 1점
연속 정답의 경우 두번째는 2점, 세번째는 3점....
오답은 0점

시험문제의 채점 결과가 주어졌을 때, 총 점수 계산하는 프로그램 작성하시오

In [ ]:
n = int(input())
a = list(map(int, input().split()))
sum = 0
cnt = 0  #가중치
for x in a:
    if x==1:
        cnt+=1
        sum+=cnt
    else:
        cnt=0
print(sum)

10
1 0 1 1 1 0 0 1 1 0
10